.env

notebooks/.ipynb_checkpoints

infra/data_ingestion/terraform.tfvars
infra/data_ingestion/terraform.tfstate
infra/data_ingestion/terraform.tfstate.backup
infra/data_ingestion/.terraform.lock.hcl
infra/data_ingestion/.terraform/

infra/data_processing/terraform.tfvars
infra/data_processing/terraform.tfstate
infra/data_processing/terraform.tfstate.backup
infra/data_processing/.terraform.lock.hcl
infra/data_processing/.terraform/

infra/model_training/terraform.tfvars
infra/model_training/terraform.tfstate
infra/model_training/terraform.tfstate.backup
infra/model_training/.terraform.lock.hcl
infra/model_training/.terraform/

modules/__pycache__/
modules/utils/__pycache__/
modules/data_ingestion/__pycache__/
modules/data_ingestion/src/__pycache__/
modules/data_processing/__pycache__/
modules/data_processing/src/__pycache__/

modules/q_and_a_dataset/__pycache__/
modules/q_and_a_dataset/src/__pycache__/

modules/model_training/__pycache__/
modules/model_training/src/__pycache__/

notebooks/results/
notebooks/mlruns/

mlflow/mlflow.db