.env

infra/data_ingestion/terraform.tfvars
infra/data_ingestion/terraform.tfstate
infra/data_ingestion/terraform.tfstate.backup
infra/data_ingestion/.terraform.lock.hcl
infra/data_ingestion/.terraform/

infra/data_processing/terraform.tfvars
infra/data_processing/terraform.tfstate
infra/data_processing/terraform.tfstate.backup
infra/data_processing/.terraform.lock.hcl
infra/data_processing/.terraform/

modules/__pycache__/
modules/utils/__pycache__/
modules/data_ingestion/__pycache__/
modules/data_ingestion/src/__pycache__/
modules/data_processing/__pycache__/
modules/data_processing/src/__pycache__/
